requests==2.32.3
ollama
pandas
fastapi
langchain-text-splitters
filetype
pypandoc
pymupdf
officeparserpy
openpyxl
xlrd
llama-index-embeddings-ollama
llama-index-llms-ollama
pathlib
pydantic
tqdm
tomli