requests==2.32.3
ollama
pandas
fastapi
langchain-text-splitters
filetype
pypandoc
pymupdf
officeparserpy
openpyxl
xlrd
llama-index-embeddings-ollama
llama-index-llms-ollama
llama-index-tools-duckduckgo
llama-index-tools-wikipedia
pathlib
pydantic
tqdm
tomli
llama-index-vector-stores-faiss
faiss-cpu
nest_asyncio
dill
textual
rich
aiohttp 
beautifulsoup4 
readability-lxml 
lxml
html2text
pint
sympy