requests==2.32.3
ollama
pandas
fastapi
langchain-text-splitters
filetype
pypandoc
pymupdf
officeparserpy
openpyxl
xlrd
llama-index-embeddings-ollama
llama-index-llms-ollama
llama-index-tools-wikipedia
pathlib
pydantic
tqdm
tomli
llama-index-vector-stores-faiss
faiss-cpu
nest_asyncio
dill
aiohttp 
beautifulsoup4
lxml
html2text
pint
sympy
ddgs
html5lib
python-doctr
python-docx 
markdown-it-py
orjson
orjsonl